.App {
  text-align: center;
  background-color: #222222f2;
  height: 730px;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  padding: 20px;
  color: white;
  background-color: #222;
}

.App-title {
  font-size: 1.5em;
  color: white;
  margin-top: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.uTinput{
  width: 50%;
  background: none;
  margin: 0 auto;
}

.userForm{
  text-align: center;
  padding: 40px;
}
